* {
    margin: 0;
    padding: 0;
    color: rgba(227, 228, 230, 0.55);
    font-family: 'Work Sans';
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.container {
    margin-left: 8rem;
    margin-right: 8rem;
}

.header-main {
    top: 2.2rem;
    position: sticky;
    margin-top: 2.2rem;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10rem;
    height: auto;
}

.nav-bar {
    width: 23%;
    margin-right: 2rem;
    display: flex;
    justify-content: space-around;
}

/* navigation menu */
.nav-bar a {
    margin-left: 1rem;
    font-size: x-large;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-family: 'Work Sans';
}

.nav-bar a:hover {
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-bottom: 2px solid white;
    cursor: pointer;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 25%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 75%) 5;
}

/* introduce text */
.introduce-section {
    margin-top: 15rem;
    font-size: 4rem;
    font-family: 'Work Sans';
    font-weight: lighter;
    font-style: normal;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(227, 228, 230, 0.55);
}

.introduce-section p {
    line-height: 150%;
}

.introduce-section b {
    font-weight: bold;
    color: white;
    letter-spacing: -0.02em;
}

.down-arrow {
    margin-top: 9rem;
}

/* show 4 customer brand logo */
.client-head {
    margin-top: 12rem;
}

.client-head p {
    font-size: 3rem;
    font-family: 'Work Sans';
    color: rgba(227, 228, 230, 0.55);
    font-weight: lighter;
    font-style: normal;
}

.client-head p b {
    font-weight: bold;
    color: white;
    line-height: 150%;
}

.brand-logo {
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
    flex-wrap: wrap;
}

.brand-logo * {
    margin-top: 2rem;
}

/* begin main content*/
.selected-work {
    margin-top: 12rem;
}

.selected-work p {
    font-size: 4em;
    font-family: 'Work Sans';
    font-weight: lighter;
    font-style: normal;
    letter-spacing: -0.02em;
    color: rgba(227, 228, 230, 0.55);
}

.selected-work p b {
    font-weight: bold;
    color: white;
}

/* section-1-and-3*/

.section-1-and-3 {
    display: flex;
    justify-content: space-between;
}

.left-img {
    transition: transform .2s;
    margin-top: 10rem;
    width: 50%;
    height: auto;
}

.left-img:hover {
    transform: scale(1.05);
}

.section-1-and-3-content {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

.section-1-and-3 p b {
    color: white;
}

.section-1-and-3-text {
    font-size: 2rem;
    font-family: 'Work Sans';
    font-weight: lighter;
    font-style: normal;
    letter-spacing: -0.02em;
    margin-top: 1rem;
}

.section-1-and-3-content p:first-child {
    color: white;
    font-size: 1rem;
}

.section-1-and-3 p:nth-child(3) {
    font-size: 1rem;
}

#icon-view {
    color: white;
}

/* section-2-and-4 */

.section-2-and-4 {
    display: flex;
    justify-content: space-between;
}

.right-img {
    margin-top: 10rem;
    width: 50%;
    transition: transform .2s;
    height: auto;
}

.right-img:hover {
    transform: scale(1.05);
}

.section-2-and-4-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

.section-2-and-4 p b {
    color: white;
}

.section-2-and-4-text {
    font-size: 2rem;
    font-family: 'Work Sans';
    font-weight: lighter;
    font-style: normal;
    letter-spacing: -0.02em;
    margin-top: 1rem;
    width: 80%;
}

.section-2-and-4-content p:first-child {
    color: white;
    font-size: 1rem;
}

.section-2-and-4 p:nth-child(3) {
    font-size: 1rem;
}

#icon-view {
    color: white;
}

/*hover section*/
.view-work:hover {
    cursor: pointer;
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    transform: scale(1.05);
}

/* view work button */
.view-work {
    transition: transform .2s;
    display: flex;
    font-size: large;
    margin-top: 2rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    background-color: black;
    border: 0.2px solid white;
    border-radius: 10rem;
    width: 11rem;
    justify-content: space-between;
}

/*about section*/
.about-section {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.about-images-gallery {
    display: flex;
    justify-self: flex-end;
    width: 100%;
}

.guitar-image {
    align-self: center;
    margin-right: 2rem;
    width: 50%;
    transition: transform .2s;

}

.guitar-image:hover {
    transform: scale(1.05);
}

.about-text {
    width: 70%;
    margin-right: 3rem;
}

.about-text p b {
    color: white;
    line-height: 3.2rem;
}

.about-text p:first-child {
    line-height: 3.2rem;
    color: white;
    font-size: xx-large;
    margin-bottom: 1rem;
}

.about-text p:nth-child(2) {
    font-size: xx-large;
}

.two-images * {
    transition: transform .2s;
    width: 100%;
    margin-top: 2rem;
}

.two-images *:hover {
    transform: scale(1.05);
}

/* footer section*/
.footer-section {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

.footer-section p b {
    color: white;
    font-weight: 900;
}

.footer-section p:first-child {
    font-size: 3.4rem;
}

.footer-section p:nth-child(2) {
    font-size: medium;
    margin-top: 2rem;
    color: white;
}

.footer-icons {
    width: 20rem;
    height: 1.7rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}

.credit {
    margin-bottom: 2rem;
}

#heart-icon {
    color: red;
}