* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.container {
    margin-left: 5rem;
    margin-right: 5rem;
}

.header-main {
    top: 2.2rem;
    position: sticky;
    margin-top: 2.2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10rem;
    height: auto;
}

.nav-bar {
    width: 23%;
    margin-right: 2rem;
    display: flex;
    justify-content: space-around;
}

.nav-bar a {
    margin-left: 1rem;
    font-size: x-large;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-family: 'Work Sans';
}

.nav-bar a:hover {
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-bottom: 2px solid white;
}

.introduce-section {
    margin-top: 15rem;
    font-size: 4rem;
    font-family: 'Work Sans';
    font-weight: lighter;
    font-style: normal;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(227, 228, 230, 0.55);
}

.introduce-section p {
    line-height: 150%;
}

.introduce-section b {
    font-weight: bold;
    color: white;
    letter-spacing: -0.02em;
}

.down-arrow {
    margin-top: 9rem;
}

.client-head {
    margin-top: 12rem;
}

.client-head p {
    font-size: 3rem;
    font-family: 'Work Sans';
    color: rgba(227, 228, 230, 0.55);
    font-weight: lighter;
    font-style: normal;
}

.client-head p b {
    font-weight: bold;
    color: white;
    line-height: 150%;
}

.brand-logo {
    display: flex;
    justify-content: space-around;
    margin-top: 8rem;

}

.selected-work {
    margin-top: 12rem;
}

.selected-work p {
    font-size: 3em;
    font-family: 'Work Sans';
    font-weight: lighter;
    font-style: normal;
    letter-spacing: -0.02em;
    color: rgba(227, 228, 230, 0.55);
}

.selected-work p b {
    font-weight: bold;
    color: white;
}